<?xml version='1.0' encoding='utf-8'?>
<widget id="com.kultura.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Культура Дома</name>
    <icon src="res/images/icons/logo.png" />
    <description>Культура дома - уникальные товары для дома</description>
    <author email="info@td-kd.ru">
        Культура Дома
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <plugin name="cordova-plugin-splashscreen" source="npm" />

    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="AndroidXEnabled" value="true" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/images/icons/logo.png" />
        <preference name="AndroidWindowSplashScreenBackground" value="#FFFFFF" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:icon="@mipmap/icon" android:roundIcon="@mipmap/icon_round" />
        </edit-config>
        <resource-file src="res/google-services.json" target="app/google-services.json"/>
    </platform>

    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="WKWebViewOnly" value="true" />
        <feature name="CDVWKWebViewEngine">
            <param name="ios-package" value="CDVWKWebViewEngine" />
        </feature>
        <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
        <resource-file src="res/GoogleService-Info.plist"/>
    </platform>
    <engine name="ios" spec="~3.9.1" />

    <platform name="browser">
        <preference name="AutoHideSplashScreen" value="true" />
    </platform>

    <preference name="LoadUrlTimeoutValue" value="700000" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="StatusBarBackgroundColor" value="#fff" />
    <preference name="ShowSplashScreen" value="false" />
    <preference name="SplashScreenDelay" value="500" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="SplashScreenBackgroundColor" value="#fff" />

</widget>
