@font-face {
    font-family: 'Geologica';
    src: local('GeologicaLocal'),
  	   url('fonts/Geologica-Regular.woff2') format('woff2'),
  	   url('fonts/Geologica-Regular.woff') format('woff'),
  	   url('fonts/Geologica-Regular.ttf') format('ttf'),
  	   url('fonts/Geologica-Regular.eot?#iefix') format('eot');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica';
    src: local('GeologicaLocal'),
  	   url('fonts/Geologica-ExtraLight.woff2') format('woff2'),
  	   url('fonts/Geologica-ExtraLight.woff') format('woff'),
  	   url('fonts/Geologica-ExtraLight.ttf') format('ttf'),
  	   url('fonts/Geologica-ExtraLight.eot?#iefix') format('eot');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tenor Sans';
    src: local('TenorSansLocal'),
  	   url('fonts/TenorSans.woff2') format('woff2'),
  	   url('fonts/TenorSans.woff') format('woff'),
  	   url('fonts/TenorSans.ttf') format('ttf'),
  	   url('fonts/TenorSans.eot?#iefix') format('eot');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

html, body {
    margin: 0;
    height: 100%;
    min-height: 100%;
    font-family: "Geologica", sans-serif;
    color: #1D1D1F;
    background: #3D4F57;
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper-offline, .mode-offline {
    background: #3D4F57;
}
.mode-online {
    height: 100%;
    position: relative;
    background: #fff;
}
.mode-online:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 20px;
    transform: translate(-50%, -50%);
    background: url(../img/three-dots-grey.svg) no-repeat center center;
    background-size: contain;
    z-index: 30;
}

body.mode-online .wrapper-offline {
    display: none;
}

header {
    background: #3d4f57;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 0 28px;
    z-index: 2;
    width: 100%;
    z-index: 200;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    border-bottom: 1px solid transparent;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: rgb(255, 255, 255);
}

.wrapper {
    overflow: hidden;
}
.offline {
    padding: 140px 0px 60px;
    text-align: center;
    min-height: 69vh;
}
.offline-img {
    margin-bottom: 80px;
}
.offline-img img, .footer-decor {
    width: 100%;
    background-size: cover;
}
.offline-text {
    color: #fff;
    font-size: 44px;
    line-height: 49px;
    font-weight: 400;
    letter-spacing: -1.3px;
    font-family: "Tenor Sans";
    text-transform: uppercase;
    width: 100%;
}
.offline a {
    display: inline-block;
    color: #D6A38F;
    text-decoration: none;
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
    margin-bottom: 24px;
}
.container {
    margin: 0 auto;
    width: 1600px;
    max-width: 100%;
    padding: 0 60px;
}
.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 35px;
}
.footer-phone, .footer-mail {
    display: inline-block;
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
    font-family: "Tenor Sans";
    text-decoration: none;
}
.footer-phone {
    font-size: 15px;
    color: #fff;
    font-weight: 200;
    line-height: 14px;
}
.footer-mail {
    font-size: 15px;
    font-weight: 200;
    line-height: 14px;
    color: #D6A38F !important;
}
.footer-rules {
    border-top: 1px solid #4F6067;
    margin: 55px 0px 55px;
    text-align: center;
    padding: 35px 0px 0px;
    color: #fff;
    font-weight: 200;
    font-size: 13px;
}

@media (max-width: 767px) {
    *, :before, :after {
        max-height: 1000000000px;
    }
    .container {
        width: 100%;
        padding: 0 20px;
    }
    header {
        padding-top: 30px;
        border-bottom: 1px solid #485960;
    }
    header .logo svg {
        width: 170px;
    }
    .offline-text {
        font-size: 27px;
        line-height: 30px;
    }
    .offline-img img, .footer-decor {
        width: auto;
    }
    .offline-img {
        margin-bottom: 60px;
    }
}
@media (max-width: 1600px) {
    .offline-img img, .footer-decor {
        width: auto;
    }
}
